@import "@/app/variables";

.domainStatusContent {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  width: 100%;
}

.contentEntry {
  display: flex;
  flex-direction: column;
}

.score {
  $fs: .8rem;
  $w: 3em;
  width: $w;
  height: $w;
  font-size: $fs;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $w;
  padding: 5px;
  align-self: flex-start;
}
.veryGoodScore {
  background-color: $veryGood;
}
.goodScore {
  background-color: $good;
}
.badScore {
  color: #fff;
  background-color: $bad;
}
