@import "@/app/variables";

.domainsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  
  @media all and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skeletonCard {
  background-color: $background-light;
  border-radius: $border-radius;
  padding: 24px;
  height: 200px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}