@import "@/app/variables";

.domainsGrid {
  display: grid;
  grid-template-columns: 1fr;  // Single column on mobile
  gap: 16px;  // Reduced gap on mobile
  padding: 0 12px;  // Add some padding on mobile
  
  @media (min-width: 480px) {
    padding: 0;
    gap: 24px;
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skeletonCard {
  background-color: $background-light;
  border-radius: $border-radius;
  padding: 24px;
  height: 200px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}