// components/layout/background.module.scss
@import "@/app/variables";

.background {
  width: 100%;
  background-color: $background-light;
  transition: background-color 0.3s ease;
}

.mainColor {
  background-color: $main;
  color: $color;
}

.mainDark {
  background-color: $main-dark;
  color: $white;
}

.light {
  background-color: $background-light;
  color: $color;
}