@import "@/app/variables";

.section, .inner {
  margin: 0 20px;
  width: 100vw;
  max-width: 100vw;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  @media all and (min-width: 426px) {
    width: calc(100vw - 40px);
  }
}
