@import "@/app/variables";

.signOut, .signIn {
    border: none;
    padding: 5px;
    display: flex;
    cursor: pointer;
    border-radius: 100%;

    &:hover {
        background-color: $accent;
    }
}


.signOut {

}

.signIn {

}