@import "@/app/variables";

.body {
    font-family: var(--font-inter);
}

#globalfooter {
    background-color: $background-light;
    min-height: 100px;
    margin-top: auto;

    @media (prefers-color-scheme: dark) {
        background-color: $background-light-dark;
    }

    .logo {
        display: block;
    }

    .globalfooterList {
        max-width: $max-width;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .globalfooterLi {
        list-style: none;
    }

    .globalfooterLink {
        display: block;
        padding: 5px 20px;
        border-radius: $border-radius;
        color: $color;
        @media (prefers-color-scheme: dark) {
            color: $color-dark;
        }
    }

    .globalfooterLink:hover {
        background-color: $accent;

        @media (prefers-color-scheme: dark) {
            background-color: $accent-dark;
        }
    }

    .logoLink {
        display: flex;
        gap: 5px;
        padding: 0;
    }
}
