$background-light: #eee;
$accent: #ddd;
$color: #000;

$background-light-dark: #222;
$accent-dark: #666;
$color-dark: #fff;

$warning: rgb(205, 157, 0);
$error: #a33;

$border-radius: 5px;


$veryGood: #1c1;
$good: $warning;
$bad: $error;