.domain {
    button {
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
        text-decoration: none;
        color: #333;
        background-color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }

    .domainCrawlErrors {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        margin-top: 20px;
        background-color: #fff;
        padding: 20px 0;
        font-size: 1.5rem;

        .domainCrawlError {
            padding: 5px;
            background-color: #fff;
            margin: 5px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
}


.crawlError {
    background-color: rgb(184, 47, 47);
    color: #fff;
}

.crawlWarning {
    background-color: rgb(225, 184, 36);
}