@import "@/app/variables";

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.crawlRequestPublic {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  gap: 5px;
}

.check {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto;
}

.checkButton {
  padding: 5px 15px;
  border-radius: 5px;
}

.input {
  border-radius: 5px;
  flex-grow: 1;
}

.findings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.finding {
  padding: 20px;
  border-radius: $border-radius;
  background-color: #eee;
}
