@import "@/app/variables";

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.crawlRequestPublic {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form {
  display: flex;
  gap: 5px;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
  }
}

.check {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.checkButton {
  padding: 5px 15px;
  border-radius: 5px;
  white-space: nowrap;

  @media (max-width: 480px) {
    padding: 10px 15px;
  }
}

.input {
  border-radius: 5px;
  flex-grow: 1;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.findings {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 768px) {
    gap: 15px;
  }
}

.finding {
  padding: 20px;
  border-radius: $border-radius;
  background-color: #eee;

  @media (max-width: 768px) {
    padding: 15px;
  }

  strong {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 480px) {
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
  }
}

.errors, .warnings {
  margin-top: 15px;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.error {
  margin-top: 10px;

  @media (max-width: 768px) {
    margin-top: 8px;
  }
}